<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Jillim Designs</title>
	<link href="css/general.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Questrial|Open+Sans+Condensed:700' rel='stylesheet'>

	<meta name="handheldfriendly" content="true"><!--this is the oldest support system-->
	<meta name="mobileoptimized" content="240"> <!--content has the minimum resolution-->

	<link rel="shortcut icon" href="favicon.ico">

	<link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-72x72.png">
	<link rel="apple-touch-icon" href="touch-icon-iphone.png">

	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/touch-icon-iphone-precomposed.png">

</head>
<body class="clearfix">

	<div class="body">

		<header class="clearfix">
			<div class="logo">
				<a href="index.html"><img src="img/logo.svg" alt="Jillim Designs"></a>
			</div>
			<nav>
				<ul>
					<li><a href="index.html" rel="home">Home</a></li>
					<li><a href="#Portfolio">Portfolio</a></li>
					<li><a href="#Contact">Contact</a></li>
				</ul>
			</nav>
		</header>

		<main class="main">

		{{content}}

		</main>

	</div>

	<footer>
		<p>© 2013 Jillim Designs. All rights reserved.</p>
	</footer>

</body>
</html>
